- content_for :javascript do
  ="var patterns = #{@site.patterns.to_json.html_safe};".html_safe

%div#patterns
  %p Pick a pattern to get started.
  - @site.patterns.each do |pattern|
    %div.pattern{"data-pattern-id" => pattern.id}
      = pattern.name

= form_for @design do |f|
  %h2#pattern-name
  = f.hidden_field :pattern_id
  #properties
  = submit_tag "Preview", :id => "preview-design"
  = submit_tag "Create"
  
  #preview-div
    %embed{:id => "embedded-preview", "data-preview-path" => preview_pattern_path(:id => "REPLACE", :format => "svg"), :src => preview_pattern_path(:id => @site.patterns.first.id, :format => "svg"), :width => 300, :height => 300, :type => "image/svg+xml"}
  