- breadcrumbs :root, @site, :designs

%table
  %tr
    %th Title
    %th Approved
    %th Author
    %th Category
    %th 
  - @designs.each do |design|
    %tr
      %td= link_to design.title, [:admin, @site, design]
      %td= design.approved? ? "Yes" : "No"
      %td= design.try(:user).try(:email)
      %td= design.category.try(:name)
      %td
        = link_to 'Edit', edit_admin_site_design_path(@site, design)
        = link_to 'Destroy', [:admin, @site, design], :confirm => 'Are you sure?', :method => :delete