- breadcrumbs :root, @site, [@site, :designs], :unapproved

- if @designs.empty?
  %p There are no unapproved designs!
- else
  = form_tag do
    %table
      - @designs.each do |design|
        %tr
          %td= link_to image_tag(design.image.url(:small)), design.image.url(:large), :class => "lightbox", :title => design.title
          %td= link_to design.title, [:admin, @site, design]
          %td= select_tag "designs[#{design.id}][category_id]", options_from_collection_for_select(Category.all, :id, :name, design.category_id)
          %td= text_field_tag "designs[#{design.id}][tag_list]", design.tags.join(", ")
          %td
            = label_tag "", radio_button_tag("designs[#{design.id}][action]", "approve") + "Approve"
            = label_tag "", radio_button_tag("designs[#{design.id}][action]", "ignore") + "Ignore"
            = label_tag "", radio_button_tag("designs[#{design.id}][action]", "reject") + "Reject"
    = submit_tag