= form_for([:admin, @site, @pattern], :html => { :multipart => true }) do |f|
  = errors_for @pattern

  = field_for f, :name
  
  - if @pattern.preview?
    = image_tag @pattern.preview.url(:thumb), :style => "float:left;"
  = f.label :preview, "Upload a new preview"
  = f.file_field :preview

  .field
    = f.label :tag_list
    = f.text_field :tag_list

  .clearfix
  
  = actions_for f
