= form_for([:admin, @site]) do |f|
  = errors_for @site
  = field_for f, :domain
  = field_for f, :analytics_code
  = field_for f, :feedburner
  
  .field
    = f.label :default_category_id
    = f.select :default_category_id, Category.all.collect {|p| [ p.name, p.id ] }
  
  .field
    = f.label :current_store_id
    = f.select :current_store_id, Store.all.collect {|p| [ p.name, p.id ] }
  
  = actions_for f
